
# Ignore all data files
*.csv

# Ignore temporaries
*~

# Ignore executables
*.exe


# Ignore test, data, and output directories
# (ignore data since it could be sensitive)
# 
_test
data
output
R


# R specific
.Rhistory
